.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
wiki/**
scripts/**
.gitignore
.npmrc
.wiki-repo/**
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
pnpm-lock.yaml
